html{
    width: 100%;
    height:100%;
}
html #picture-mask, body #picture-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3000000;
    background: rgba(255, 255, 255, 0.2);
    /*body:overflow:hidden   蒙版显示,不准鼠标滑动*/
    /*body:overflow:inherit   蒙版显示,准许鼠标滑动*/
}
.quickDiv{
       width: 571px;
       min-width: 340px;
       position:fixed;
       top:20%;
       left: 30%;
       height: 420px;
       background-color: #fff;
       z-index: 999999;
       /*display: none;*/
   }
.quickDiv .box {
        width:100%;
        min-width: 340px;
    }
.quickDiv .box .inner {
        top:50%;
        left: 50%;
        width: 100%;
    }
.quickDiv .box .pdding{
        padding:0 18px 0 20px;
    }
.quickDiv .box .header {
        width:100%;
        height: 50px;
        background-color: #3ca7f9;
        position: relative;
    }
.quickDiv .box .header .title {
        font-family: MicroftYaHei;
        font-size: 16px;
        color: white;
        line-height: 50px;
    }
.quickDiv .box .header .clo{
        width: 30px;
        height: 30px;
        position: absolute;
        top:10px;
        right:0;
        color:#fff;
        font-size:30px;
        font-weight: inherit;
        cursor: pointer;
    }
.quickDiv .box .body {
        position: relative;
        top: 0px;
        width:100%;
    }
.quickDiv .small {
        display: flex;
        width: 100%;
        height: 40px;
        background-color:#fafafa;
    }
.quickDiv .for_ip {
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        background-color:mediumvioletred;
    }
.quickDiv .for_ip.active::after{
        content: '√';
    }
.quickDiv .small>span{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right:1px solid gray;
        border-bottom:1px solid gray;
    }
.quickDiv .small>span:first-child {
        border-left:1px solid gray;
    }
.quickDiv .thead {
        margin-top:18px;
    }
.quickDiv .thead .small>span {
        background-color:#dfdfdf;
        font-weight: 500;
        border-top:1px solid gray;
    }
.quickDiv .box_btn {
        margin-top:10px;
        margin-right:35px;
    }
.quickDiv .box_btn button {
        width: 88px;
        height: 36px;
        background: #9b5dfe;
        border-radius: 2px;
        float: right;
        color: #999;
        border: 1px solid #e2e2e2;
        font-size:14px;
    }
.quickDiv .box_btn button:first-child{
    background: #eeeeee;
    border: none;
}
.quickDiv .box_btn .btn_save {
        margin-right:10px;
    }
.quickDiv .box_btn .btn_cancal {
        margin-right:-18px;
    }